<?xml version="1.0" encoding="utf-8"?>

<robot name="eod_robot_description_cameras" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="cameras">

<!--vehicle_camera-->
  <link name="camera_link">
    <visual>
      <origin 
        rpy="1.57079632679 0 1.57079632679" 
        xyz="0.0149 -0.0175 0"/>
      <geometry>
        <!-- <box size="${d435_cam_width} ${d435_cam_height} ${d435_cam_depth}"/> -->
        <mesh 
          filename="package://eod_robot_description/meshes/d435.dae"/>
        <!--<mesh filename="package://realsense2_description/meshes/d435/d435.dae" />-->
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin 
        rpy="0 0 0" 
        xyz="0 -0.0175 0"/>
      <geometry>
        <box size="0.02505 0.09 0.025"/>
      </geometry>
    </collision>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.564"/>
      <origin xyz="0 0 0"/>
      <inertia 
        ixx="0.003881243" 
        ixy="0.0" 
        ixz="0.0" 
        iyy="0.000498940" 
        iyz="0.0" 
        izz="0.003879257"/>
    </inertial>
  </link>

  <joint name="base_camera_joint" type="fixed">
    <origin 
      xyz="0.1 -0.0175 0.03381" 
      rpy="3.14159 0.00 0.00 "/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint >

  <joint name="camera_depth_joint" type="fixed">
    <origin 
      rpy="0 0 0"  
      xyz="0 0 0"/>
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
  </joint>

  <link name="camera_depth_frame"/>

  <joint name="camera_depth_optical_joint" type="fixed">
    <origin 
      rpy="-1.57079632679 0 -1.57079632679" 
      xyz="0 0 0"/>
    <parent link="camera_depth_frame"/>
    <child link="camera_depth_optical_frame"/>
  </joint>

  <link name="camera_depth_optical_frame"/>
<!-- camera left IR joints and links -->
  <joint name="camera_left_ir_joint" type="fixed">
    <origin 
      rpy="0 0 0" 
      xyz="0 0.0 0"/>
    <parent link="camera_depth_frame"/>
    <child link="camera_left_ir_frame"/>
  </joint>

  <link name="camera_left_ir_frame"/>
  <joint name="camera_left_ir_optical_joint" type="fixed">
    <origin 
      rpy="-1.57079632679 0 -1.57079632679" 
      xyz="0 0 0"/>
    <parent link="camera_left_ir_frame"/>
    <child link="camera_left_ir_optical_frame"/>
  </joint>

  <link name="camera_left_ir_optical_frame"/>
  <!-- camera right IR joints and links -->
  <joint name="camera_right_ir_joint" type="fixed">
    <origin 
      rpy="0 0 0" 
      xyz="0 -0.05 0"/>
    <parent link="camera_depth_frame"/>
    <child link="camera_right_ir_frame"/>
  </joint>  

  <link name="camera_right_ir_frame"/>
  <joint name="camera_right_ir_optical_joint" type="fixed">
    <origin 
      rpy="-1.57079632679 0 -1.57079632679" 
      xyz="0 0 0"/>
    <parent link="camera_right_ir_frame"/>
    <child link="camera_right_ir_optical_frame"/>
  </joint> 

  <link name="camera_right_ir_optical_frame"/>
  <!-- camera color joints and links -->
  <joint name="camera_color_joint" type="fixed">
    <origin 
      rpy="0 0 0" 
      xyz="0 0.015 0"/>
    <parent link="camera_depth_frame"/>
    <child link="camera_color_frame"/>
  </joint> 

  <link name="camera_color_frame"/>
  <joint name="camera_color_optical_joint" type="fixed">
   <origin
     rpy="-1.57079632679 0 -1.57079632679" 
     xyz="0 0 0"/>
   <parent link="camera_color_frame"/>
   <child link="camera_color_optical_frame"/>
 </joint>
  <link name="camera_color_optical_frame"/>

<!--right_camera-->
<joint name="right_base_camera_joint" type="fixed">
	  <origin xyz="-0.027 0.0815 -0.0515" rpy="0.18 0.00 1.57079632679 "/>
    <parent link="Arm_R6_link"/>
	  <child link="right_camera_link"/>
</joint >

  <link name="right_camera_link">
    <visual>
      <origin rpy="1.57079632679 0 1.57079632679" xyz="0.0149 -0.0175 0"/>
      <geometry>
        <!-- <box size="${d435_cam_width} ${d435_cam_height} ${d435_cam_depth}"/> -->
        <mesh filename="package://eod_robot_description/meshes/d435.dae"/>
        <!--<mesh filename="package://realsense2_description/meshes/d435/d435.dae" />-->
      </geometry>
            <material
        name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 -0.0175 0"/>
      <geometry>
        <box size="0.02505 0.09 0.025"/>
      </geometry>
    </collision>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.564"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257"/>
    </inertial>
  </link>

  <!-- camera depth joints and links -->
  <joint name="right_camera_depth_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="right_camera_link"/>
    <child link="right_camera_depth_frame"/>
  </joint>

  <link name="right_camera_depth_frame"/>

  <joint name="right_camera_depth_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="right_camera_depth_frame"/>
    <child link="right_camera_depth_optical_frame"/>
  </joint>

  <link name="right_camera_depth_optical_frame"/>

  <!-- camera left IR joints and links -->
  <joint name="right_camera_left_ir_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0 0"/>
    <parent link="right_camera_depth_frame"/>
    <child link="right_camera_left_ir_frame"/>
  </joint>

  <link name="right_camera_left_ir_frame"/>

  <joint name="right_camera_left_ir_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="right_camera_left_ir_frame"/>
    <child link="right_camera_left_ir_optical_frame"/>
  </joint>

  <link name="right_camera_left_ir_optical_frame"/>

  <!-- camera right IR joints and links -->
  <joint name="right_camera_right_ir_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.05 0"/>
    <parent link="right_camera_depth_frame"/>
    <child link="right_camera_right_ir_frame"/>
  </joint>

  <link name="right_camera_right_ir_frame"/>

  <joint name="right_camera_right_ir_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="right_camera_right_ir_frame"/>
    <child link="right_camera_right_ir_optical_frame"/>
  </joint>

  <link name="right_camera_right_ir_optical_frame"/>

  <!-- camera color joints and links -->
  <joint name="right_camera_color_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.015 0"/>
    <parent link="right_camera_depth_frame"/>
    <child link="right_camera_color_frame"/>
  </joint>

  <link name="right_camera_color_frame"/>

  <joint name="right_camera_color_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="right_camera_color_frame"/>
    <child link="right_camera_color_optical_frame"/>
  </joint>

  <link name="right_camera_color_optical_frame"/>

<!--left_camera-->
<joint name="left_base_camera_joint" type="fixed">
	<origin xyz="-0.027 0.0815 -0.0515" rpy="0.18 0.00 1.57079632679"/>
	<parent link="Arm_L6_link_add"/>
	<child link="left_camera_link"/>
</joint >

  <link name="left_camera_link">
    <visual>
      <origin rpy="1.57079632679 0 1.57079632679" xyz="0.0149 -0.0175 0"/>
      <geometry>
        <!-- <box size="${d435_cam_width} ${d435_cam_height} ${d435_cam_depth}"/> -->
        <mesh filename="package://eod_robot_description/meshes/d435.dae"/>
        <!--<mesh filename="package://realsense2_description/meshes/d435/d435.dae" />-->
      </geometry>
      <material name="camera_aluminum"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 -0.0175 0"/>
      <geometry>
        <box size="0.02505 0.09 0.025"/>
      </geometry>
    </collision>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.564"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257"/>
    </inertial>
  </link>
  
  <!-- camera depth joints and links -->
  <joint name="left_camera_depth_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="left_camera_link"/>
    <child link="left_camera_depth_frame"/>
  </joint>

  <link name="left_camera_depth_frame"/>

  <joint name="left_camera_depth_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="left_camera_depth_frame"/>
    <child link="left_camera_depth_optical_frame"/>
  </joint>

  <link name="left_camera_depth_optical_frame"/>

  <!-- camera left IR joints and links -->
  <joint name="left_camera_left_ir_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0 0"/>
    <parent link="left_camera_depth_frame"/>
    <child link="left_camera_left_ir_frame"/>
  </joint>

  <link name="left_camera_left_ir_frame"/>

  <joint name="left_camera_left_ir_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="left_camera_left_ir_frame"/>
    <child link="left_camera_left_ir_optical_frame"/>
  </joint>

  <link name="left_camera_left_ir_optical_frame"/>

  <!-- camera right IR joints and links -->
  <joint name="left_camera_right_ir_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.05 0"/>
    <parent link="left_camera_depth_frame"/>
    <child link="left_camera_right_ir_frame"/>
  </joint>

  <link name="left_camera_right_ir_frame"/>

  <joint name="left_camera_right_ir_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="left_camera_right_ir_frame"/>
    <child link="left_camera_right_ir_optical_frame"/>
  </joint>

  <link name="left_camera_right_ir_optical_frame"/>

  <!-- camera color joints and links -->
  <joint name="left_camera_color_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0.015 0"/>
      <parent link="left_camera_depth_frame"/>
      <child link="left_camera_color_frame"/>
  </joint>

  <link name="left_camera_color_frame"/>

<joint name="left_camera_color_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="left_camera_color_frame"/>
    <child link="left_camera_color_optical_frame"/>
  </joint>

  <link name="left_camera_color_optical_frame"/>

  <gazebo reference="camera_link">
    <implicitSpringDamper>1</implicitSpringDamper>
    <mu1>100000</mu1>
    <mu2>100000</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="right_camera_link">
    <implicitSpringDamper>1</implicitSpringDamper>
    <mu1>100000</mu1>
    <mu2>100000</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="left_camera_link">
    <implicitSpringDamper>1</implicitSpringDamper>
    <mu1>100000</mu1>
    <mu2>100000</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/Red</material>
  </gazebo>

</xacro:macro>

</robot>
