<?xml version="1.0"?>
<robot name="eod_robot_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find eod_robot_description)/urdf/eod_robot_description_vehicle.xacro" />
  <xacro:include filename="$(find eod_robot_description)/urdf/eod_robot_description_right_arm.xacro" />
  <xacro:include filename="$(find eod_robot_description)/urdf/eod_robot_description_left_arm.xacro" />
  <xacro:include filename="$(find eod_robot_description)/urdf/eod_robot_description_gripper.xacro" />
  <xacro:include filename="$(find eod_robot_description)/urdf/eod_robot_description_gripper_robotiq.xacro" />
  <xacro:include filename="$(find eod_robot_description)/urdf/eod_robot_description_cameras.xacro" />

  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/eod_robot_description</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <xacro:vehicle/>
  <xacro:right_arm/>
  <xacro:left_arm/>
  <!--<xacro:gripper/>-->
  <xacro:gripper_robotiq/>
  <xacro:cameras/>

</robot>
