<launch>

  <include file="$(find eod_robot_description)/launch/robot_description.xml"/>
  <include file="$(find eod_robot_description)/launch/robot_control.xml"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find eod_robot_description)/worlds/eod_robot.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="gazebo_mover" type="gazebo_mover" pkg="eod_robot_description" output="screen" /> 

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn= "false" output="screen" 
        args="-urdf -param robot_description -x 0 -y 0 -z 0.496 -R 0 -P 0 -Y 0 -model eod_robot_description"/> 

</launch>

 