<launch>

    <node name="motion_planning_api_tutorial" pkg="eod_robot_moveit_learn" type="motion_planning_api_tutorial" respawn="false" output="screen">
        <rosparam command="load" file="$(find eod_robot_moveit_config)/config/kinematics.yaml"/>
        <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
        <rosparam command="load" file="$(find eod_robot_moveit_config)/config/ompl_planning.yaml"/>
    </node>

</launch>